.tableContainer {
  width: 100%;
  padding-top: 2rem;

  .mainTable {
    margin-top: 2rem;

    .mat-row.mainRow:hover .mat-cell  {
      background-color: #8DAFCE;
      cursor: pointer;
    }
  }

  & table {
    width: 100%;

    .status {
      display: flex;
      align-items: center;
      span {
        padding-left: 0.5rem;
        font-weight: 500;
      }
    }
  }
}

.actionContainer button {
  margin-right: 0.5rem;
}

#noTestsFoundHint {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  width: 100%;
}

.mat-stroked-button {
  background-color: white;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.subTable {
  table-layout: fixed;

  .cloud_config_icon {
    width: 50px;
    .mat-icon {
      transform: scale(0.5);
    }
    .icon_container {
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }

  .cloud_config_provider {
    width: 100px;
  }
  .cloud_config_status {
    width: 250px;
    .status {
      display: flex;
      align-items: center;

      .mat-icon {
        transform: scale(0.7);
      }
    }
  }
  .cloud_config_duration {
    width: 150px;
  }
}
