<button
  mat-raised-button
  routerLink="create"
  routerLinkActive="active"
  color="primary"
>
  Create test run
</button>
<div class="tableContainer">
  <div class="header">
    <div id="title">Test runs:</div>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mainTable mat-elevation-z8"
    multiTemplateDataRows
  >
    <!-- Status Column -->
    <ng-container matColumnDef="expansionStatus">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element._id !== expandedJob?._id"
          >expand_more</mat-icon
        >
        <mat-icon *ngIf="element._id === expandedJob?._id"
          >expand_less</mat-icon
        >
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element._id == expandedJob?._id ? 'expanded' : 'collapsed'
          "
        >
          <mat-list dense>
            <mat-list-item
              class="list"
              *ngFor="let config of element.cloudConfig"
            >
              <table class="subTable">
                <tr>
                  <td class="cloud_config_icon">
                    <div class="icon_container">
                      <mat-icon>horizontal_rule</mat-icon>
                    </div>
                  </td>
                  <td class="cloud_config_provider">
                    Provider: {{ config.provider }}
                  </td>
                  <td class="cloud_config_status">
                    <div class="status">
                      <span>Status:</span>
                      <mat-icon
                        [class.status-error]="
                          config.status === TestJobStatus.ERROR
                        "
                        [class.status-finished]="
                          config.status === TestJobStatus.FINISHED
                        "
                      >
                        {{
                          testsService.getStatusIcon(config.status).iconName
                        }}</mat-icon
                      >
                      <span>{{
                        testsService.getStatusIcon(config.status).text
                          ? testsService.getStatusIcon(config.status).text
                          : '-'
                      }}</span>
                    </div>
                  </td>
                  <td class="cloud_config_duration">
                    Duration: {{ getDuration(config) }}
                  </td>
                  <td>
                    Action:
                    <button
                      [disabled]="config.status !== TestJobStatus.RUNNING"
                      mat-stroked-button
                      class="undeployButton"
                      (click)="onUndeploy(config.provider, element._id, $event)"
                    >
                    undeploy
                    </button>
                  </td>
                </tr>
              </table>
            </mat-list-item>
          </mat-list>
        </div>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <div class="status">
          <mat-icon
            [class.status-error]="element.status === TestJobStatus.ERROR"
            [class.status-finished]="element.status === TestJobStatus.FINISHED"
          >
            {{ testsService.getStatusIcon(element.status).iconName }}</mat-icon
          >
          <span>{{ testsService.getStatusIcon(element.status).text }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Date/Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        <div class="status">
          {{ element.time | date: 'short' }}
        </div>
      </td>
    </ng-container>

    <!-- Aktion -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="actionContainer">
          <button mat-stroked-button (click)="onRowClicked(element._id)">details</button>
          <button
            mat-stroked-button
            color="warn"
            (click)="onDelete(element._id, $event)"
          >
            delete
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mainRow"
      [class.example-expanded-row]="expandedJob === row"
      (click)="expandedJob = expandedJob === row ? null : row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
  <div id="noTestsFoundHint" *ngIf="dataSource.length === 0">
    No test runs found.
  </div>
</div>
