<div class="header">
  <button class="returnButton" mat-icon-button routerLinkActive routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div id="title">Details</div>
</div>
<div class="detailsContainer row" *ngIf="testJob">
  <div class="configContainer col">
    <div class="generalConfig">
      <h2>General test configuration</h2>
      <div class="row">
        <div class="col">
          <!-- Name -->
          <div class="propertyContainer">
            <p id="name">Name:</p>
            <p id="value">{{ testJob?.name }}</p>
          </div>
          <!-- Status -->
          <div class="propertyContainer">
            <p id="name">Status:</p>
            <p id="value">{{ testService.getStatusIcon(testJob.status).text }}</p>
          </div>
          <!-- TestMode -->
          <div class="propertyContainer">
            <p id="name">Test mode:</p>
            <p id="value">
              {{ testService.getTestModeText(testJob.testConfig.testMode) }}
            </p>
          </div>
          <!-- Date -->
          <div class="propertyContainer">
            <p id="name">Created at:</p>
            <p id="value">{{ testJob?.time | date }}</p>
          </div>
        </div>
        <div class="col">
          <!-- Core count -->
          <div class="propertyContainer">
            <p id="name">Core count:</p>
            <p id="value">
              {{ testJob.testConfig.coreCount ? testJob.testConfig.coreCount : '-' }}
            </p>
          </div>
          <div *ngIf="testJob.testConfig.testMode === '0'">
            <!-- CPU Load factor -->
            <div class="propertyContainer">
              <p id="name">CPU load factor:</p>
              <p id="value">
                {{
                testJob.testConfig.cpuLoadFactor
                ? testJob.testConfig.cpuLoadFactor
                : '-'
                }}
              </p>
            </div>
            <!-- Interval  -->
            <div class="propertyContainer">
              <p id="name">Interval:</p>
              <p id="value">
                {{ testJob.testConfig.frequency ? testJob.testConfig.frequency : '-' }}
              </p>
            </div>
            <!-- duration  -->
            <div class="propertyContainer">
              <p id="name">Test duration:</p>
              <p id="value">
                {{
                testJob.testConfig.testDuration
                ? testJob.testConfig.testDuration
                : '-'
                }}
              </p>
            </div>
          </div>
          <!-- image url -->
          <div class="propertyContainer" *ngIf="testJob.testConfig.imageUrl">
            <p id="name">Image URL:</p>
            <p id="value">
              {{ testJob.testConfig.imageUrl ? testJob.testConfig.imageUrl : '-' }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h2>Azure configuration</h2>
    <!-- Subscription ID -->
    <div class="propertyContainer">
      <p id="name">Subscription ID:</p>
      <p id="value">{{ getAzureConfig().subscriptionId }}</p>
    </div>
    <!-- Cluster Name -->
    <div class="propertyContainer">
      <p id="name">Cluster name:</p>
      <p id="value">{{ getAzureConfig().clusterName }}</p>
    </div>
    <!-- Ressource Group Name -->
    <div class="propertyContainer">
      <p id="name">Ressource group name:</p>
      <p id="value">{{ getAzureConfig().resourceGroupName }}</p>
    </div>
    <!-- Location -->
    <div class="propertyContainer">
      <p id="name">Location:</p>
      <p id="value">{{ getAzureConfig().location }}</p>
    </div>
    <!-- Status -->
    <div class="propertyContainer">
      <p id="name">Status:</p>
      <p id="value" [class.status-finished]="
          TestJobStatus.FINISHED == getAzureConfig().status
        " [class.status-error]="TestJobStatus.ERROR == getAzureConfig().status">
        {{ testService.getStatusIcon(getAzureConfig().status).text }}
      </p>
    </div>
    <!-- Error -->
    <div class="propertyContainer" *ngIf="getAzureConfig().errorMsg">
      <p id="name">Error message:</p>
      <p id="value">{{ getAzureConfig().errorMsg }}</p>
    </div>
    <mat-divider></mat-divider>
    <h2>AWS configuration</h2>
    <!-- location -->
    <div class="propertyContainer">
      <p id="name">Location:</p>
      <p id="value">{{ getAwsConfig().location }}</p>
    </div>
    <!-- profile -->
    <div class="propertyContainer">
      <p id="name">Profile:</p>
      <p id="value">{{ getAwsConfig().profile }}</p>
    </div>
    <div class="propertyContainer">
      <p id="name">Cluster name:</p>
      <p id="value">{{ generateName(getAwsConfig()._id) }}</p>
    </div>
    <!-- disk size -->
    <div class="propertyContainer">
      <p id="name">Disk size:</p>
      <p id="value">{{ getAwsConfig().diskSize }}</p>
    </div>
    <!-- instance type -->
    <div class="propertyContainer">
      <p id="name">Instance type:</p>
      <p id="value">{{ getAwsConfig().instanceType }}</p>
    </div>
    <!-- Status -->
    <div class="propertyContainer">
      <p id="name">Status:</p>
      <p id="value" [class.status-finished]="
          TestJobStatus.FINISHED == getAwsConfig().status
        " [class.status-error]="TestJobStatus.ERROR == getAwsConfig().status">
        {{ testService.getStatusIcon(getAwsConfig().status).text }}
      </p>
    </div>
    <!-- Error message -->
    <div class="propertyContainer" *ngIf="getAzureConfig().errorMsg">
      <p id="name">Error message:</p>
      <p id="value">{{ getAwsConfig().errorMsg ? getAwsConfig().errorMsg : '-' }}</p>
    </div>
  </div>
  <div class="resultChartContainer col">
    <h2>Test result</h2>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>
