<div class="header">
  <button class="returnButton" mat-icon-button routerLinkActive routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div id="title">Create test job</div>
</div>
<div class="formContainer">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="testJobForm">
      <ng-template matStepLabel>General test configuration</ng-template>
      <div class="column stepperContentContainer">
        <mat-form-field appearance="outline">
          <mat-label>Enter test name</mat-label>
          <input matInput [formControl]="getControl('name')" required />
          <mat-hint>The name of the test</mat-hint>
          <mat-error *ngIf="getControl('name').hasError('required')"
            >You must enter a value</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter the test mode</mat-label>
          <mat-select [formControl]="getControl('testConfig.testMode')">
            <mat-option value="0">Definierte Laufzeit</mat-option>
            <mat-option value="1">Definierte Last</mat-option>
            <mat-option value="2">Benutzerdefinierter Test</mat-option>
          </mat-select>
          <mat-hint>The mode of the test</mat-hint>
          <mat-error *ngIf="getControl('name').hasError('required')"
            >You must enter a value</mat-error
          >
        </mat-form-field>
        <div *ngIf="getControl('testConfig.testMode').value === '0'">
          <mat-form-field appearance="outline">
            <mat-label>Duration of the test (in sec)</mat-label>
            <input
              type="number"
              matInput
              [formControl]="getControl('testConfig.testDuration')"
              required
            />
            <mat-hint>The duration of the test in seconds</mat-hint>
            <mat-error
              *ngIf="getControl('testConfig.testDuration').hasError('required')"
              >You must enter a value</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter the amount of cores</mat-label>
            <input
              type="number"
              maxlength="2"
              matInput
              [formControl]="getControl('testConfig.coreCount')"
              required
            />
            <mat-hint>The amount of cores that should be utilized</mat-hint>
            <mat-error
              *ngIf="getControl('testConfig.coreCount').hasError('required')"
              >You must enter a value</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter the cpu load factor</mat-label>
            <input
              type="number"
              matInput
              [formControl]="getControl('testConfig.cpuLoadFactor')"
              required
            />
            <mat-hint>The cpu load factor</mat-hint>
            <mat-error
              *ngIf="
                getControl('testConfig.cpuLoadFactor').hasError('required')
              "
              >You must enter a value</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter the interval (in sec)</mat-label>
            <input
              type="number"
              matInput
              [formControl]="getControl('testConfig.frequency')"
              required
            />
            <mat-hint>The interval in seconds</mat-hint>
            <mat-error
              *ngIf="getControl('testConfig.frequency').hasError('required')"
              >You must enter a value</mat-error
            >
          </mat-form-field>
        </div>
        <div *ngIf="getControl('testConfig.testMode').value === '1'">
          <mat-form-field appearance="outline">
            <mat-label>Enter the amount of cores</mat-label>
            <input
              type="number"
              maxlength="2"
              matInput
              [formControl]="getControl('testConfig.coreCount')"
              required
            />
            <mat-hint>The amount of cores that should be utilized</mat-hint>
            <mat-error
              *ngIf="getControl('testConfig.coreCount').hasError('required')"
              >You must enter a value</mat-error
            >
          </mat-form-field>

        </div>
        <div *ngIf="getControl('testConfig.testMode').value === '2'">
          <mat-form-field appearance="outline">
            <mat-label>Enter the url a docker image</mat-label>
            <input
              type="number"
              matInput
              [formControl]="getControl('testConfig.imageUrl')"
              required
            />
            <mat-hint>The URL to a docker image</mat-hint>
            <mat-error
              *ngIf="getControl('testConfig.imageUrl').hasError('required')"
              >You must enter a value</mat-error
            >
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Enter the number of nodes to create</mat-label>
          <input
            type="number"
            matInput
            [formControl]="getControl('testConfig.nodeCount')"
            required
          />
          <mat-hint>The number of nodes for the kubernets cluster</mat-hint>
          <mat-error
            *ngIf="getControl('testConfig.nodeCount').hasError('required')"
            >You must enter a value</mat-error
          >
        </mat-form-field>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="testJobForm">
      <ng-template matStepLabel>Azure configuration</ng-template>
      <div class="stepperContentContainer column">
        <mat-form-field appearance="outline">
          <mat-label>Enter the subscription ID</mat-label>
          <input
            matInput
            [formControl]="getControl('cloudConfig.0.subscriptionId')"
            required
          />
          <mat-hint>The subscription ID of the azure account</mat-hint>
          <mat-error
            *ngIf="
              getControl('cloudConfig.0.subscriptionId').hasError('required')
            "
            >You must enter a value</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter the VMSize</mat-label>
          <input
            matInput
            [formControl]="getControl('cloudConfig.0.vmSize')"
            required
          />
          <mat-hint>The VMSize of the cluster nodes</mat-hint>
          <mat-error
            *ngIf="getControl('cloudConfig.0.vmSize').hasError('required')"
            >You must enter a value</mat-error
          >
        </mat-form-field>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="testJobForm">
      <ng-template matStepLabel>AWS configuration</ng-template>
      <div class="stepperContentContainer column">
        <mat-form-field appearance="outline">
          <mat-label>Enter the profile name:</mat-label>
          <input matInput [formControl]="getControl('cloudConfig.1.profile')" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter the VPC name:</mat-label>
          <input
            matInput
            [formControl]="getControl('cloudConfig.1.vpcName')"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Choose the VM Size</mat-label>
          <input
            matInput
            [formControl]="getControl('cloudConfig.1.instanceType')"
            required
          />
        </mat-form-field>
      </div>
      <div class="actionContainer">
        <button
          mat-raised-button
          class="startTestButton"
          [disabled]="testJobForm.invalid"
          (click)="startTestRun()"
          color="primary"
        >
          Start test
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div>{{ testJobForm.value | json }}</div>
</div>
