.formContainer {
    padding-top: 2rem;

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .formRow {
      display: flex;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .stepperContentContainer {
      border: 2px solid #212529;
      border-radius: 10px;
      display: flex;
      padding: 1rem
    }

    .mat-form-field {
      padding: 0.5rem;
    }

    .mat-stepper-next, .startTestButton {
      width: 150px;
      margin-top: 1rem;
    }

    .mat-form-field {
      width: 250px;
    }

    .cloudConfigContainer {
      padding-top: 20px;
    }

  }

  .actionContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vmSize {
    display: flex;
    padding-left: 5px;
    a {
      align-self: center;
    }
  }
  .img {
    height: 380px;
    width: 650px;
    object-fit: scale-down;
  }
